Hodor.Client/Service References/HodorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HodorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Hodor.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHodorService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHodorService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHodorService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHodorService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IHodorService_Hodorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Hodorize" />
  </wsdl:message>
  <wsdl:message name="IHodorService_Hodorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:HodorizeResponse" />
  </wsdl:message>
  <wsdl:message name="IHodorService_Dehodorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Dehodorize" />
  </wsdl:message>
  <wsdl:message name="IHodorService_Dehodorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:DehodorizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IHodorService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHodorService/GetData" message="tns:IHodorService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHodorService/GetDataResponse" message="tns:IHodorService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHodorService/GetDataUsingDataContract" message="tns:IHodorService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHodorService/GetDataUsingDataContractResponse" message="tns:IHodorService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hodorize">
      <wsdl:input wsaw:Action="http://tempuri.org/IHodorService/Hodorize" message="tns:IHodorService_Hodorize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHodorService/HodorizeResponse" message="tns:IHodorService_Hodorize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dehodorize">
      <wsdl:input wsaw:Action="http://tempuri.org/IHodorService/Dehodorize" message="tns:IHodorService_Dehodorize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHodorService/DehodorizeResponse" message="tns:IHodorService_Dehodorize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHodorService" type="tns:IHodorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHodorService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHodorService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hodorize">
      <soap:operation soapAction="http://tempuri.org/IHodorService/Hodorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dehodorize">
      <soap:operation soapAction="http://tempuri.org/IHodorService/Dehodorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HodorService">
    <wsdl:port name="BasicHttpBinding_IHodorService" binding="tns:BasicHttpBinding_IHodorService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Hodor.Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>